/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin-top: 5px;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.bcus-navigation__iframe-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.inner-login-panel {
    background-color: #fff;
    font-size: 12px;
    padding: 0;
    text-align: left;
    width: 100%;
    z-index: 1010;
}
.login-panel__fieldset {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
}
.login-panel__fieldset:first-child {
    border-bottom: 1px solid #cccccc;
}
.login-panel__label {
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    padding: 14px 0 10px;
    text-transform: uppercase;
    width: 87%;
}
.login-panel__input {
    border: none;
    border-radius: 4px;
    background: #ebeaeb;
    color: #777777;
    display: block;
    font-size: 14px;
    height: 30px;
    width: 85%;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0 auto;
}

.login-panel__checkbox,
.login-panel__login-details {
    display: none;
}

.login-panel__button {
    display: block;
    margin: 0 auto;
    width: 87%;
}
.login-panel__link {
    color: #00a1e4;
}
.login-panel__checkbox {
    padding-bottom: 20px;
}
.login-panel__label--checkbox {
    display: block;
    margin: 0 auto;
    padding: 20px 16px;
    width: 87%;
}
.login-panel__checkbox:checked + .login-panel__label--checkbox:before {
    content: "✔";
}
.login-panel__checkbox + .login-panel__label--checkbox:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    margin-right: 8px;
    border: 1px solid #ebeaeb;
    background-color: white;
}
.login-panel__forgot-username-password, .new-cardmember__application-info {
    display: block;
    margin: 20px auto;
    width: 87%;
}
.login-panel__forgot-username-password {
    margin-top: 0;
}
.new-cardmember {
    border-top: 1px solid #cccccc;
}
.bcus-button--blue {
    background-color: #00a1e4;
    border-radius: 3px;
    color: #ffffff;
    padding: 12px 30px;
    text-transform: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
